@import "reset";
@import "animations";
@import "navbar";

// Mixins
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin animation-delay($delay) {
	animation-delay: $delay;
	filter: blur(15px);
	transform: translateY(300vh);
}

// Header
.header {
	height: 80vh;
	background-image: url(../assets/header.jpg);
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header-content {
	padding: 1rem;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	@include flex-center();
	gap: 1.5rem;
	text-align: center;
}
.header-title {
	color: whitesmoke;
	font-size: 5rem;
	line-height: 0.8;
	opacity: 0;
	font-family: "DMSerifDisplay";
	letter-spacing: 2px;

	@media screen and (min-width: 768px) {
		text-align: left;
	}
}
.header-subtitle {
	@include animation-delay(0.3s);
	color: whitesmoke;

	font-size: 2rem;
}
.cta-section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	margin-top: 3rem;

	.btn {
		min-width: 250px;
		@include animation-delay(0.4s);
	}
	.ghost-btn {
		@include animation-delay(0.5s);
	}

	@media screen and (min-width: 768px) {
		flex-direction: row;
		margin-top: 0;
		gap: 1.2rem;
		@include flex-center();
	}
}

// Servicios
.services-container {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 25px;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	.service {
		width: 100%;
		max-width: 320px;
		border-radius: $border-radius-general;
		box-shadow: 0 3px 15px rgba($primary-color, 0.2);
		text-align: left;

		.service-image {
			width: 100%;
		}

		&:hover {
			transform: scale(1.03);
			box-shadow: 0 5px 25px rgba($primary-color, 0.35);

			h3 {
				color: $primary-color;
			}
			.service-image {
				scale: 1.5;
			}
		}

		.card-content {
			padding: 1rem;
		}
		h3 {
			font-size: 1.5rem;
			color: $text-color;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			text-align: center;
		}

		ul {
			color: $text-color;
			line-height: 1.8;

			li:before {
				content: "✦";
				margin-right: 5px;
				font-size: 0.9rem;
			}
		}
	}
}

// Products Carousel
.products {
	width: 100%;
	overflow: hidden;

	.products-carousel {
		display: flex;
		overflow-x: auto;
		gap: 1.5rem;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		width: 100%;
		padding: 1rem;

		&::-webkit-scrollbar {
			display: none;
		}

		.carousel-card {
			position: relative;
			width: 100%;
			min-width: 250px;
			max-width: 250px;
			aspect-ratio: 3/4;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: $border-radius-general;
			overflow: hidden;
			text-decoration: none;
			scroll-snap-align: start;

			&:hover {
				transform: scale(1.02);
			}

			&:first-child {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				border: none;

				.carousel-title {
					font-size: 3.5rem;
					text-wrap: wrap;
					line-height: 0.9;
					color: $text-color;
					text-transform: uppercase;
					padding: 0.5rem;
					margin-bottom: 1rem;
					position: relative;
				}

				&::after {
					animation: pulse 3s infinite ease-in-out;
					content: url(../assets/icons/caret-circle-double-right.svg);
					position: absolute;
					right: 4rem;
					scale: 1.7;
					transition: transform 0.3s ease;
				}

				&:hover::after {
					transform: translateX(10px);
				}
			}
		}

		.carousel-info {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: rgba(255, 255, 255, 0.9);
			border-radius: 8px;
			padding: 0.75rem;
			margin: 0.75rem;
		}

		.carousel-action {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0.75rem;
		}

		.carousel-title {
			font-size: 0.9rem;
			text-transform: uppercase;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: left;
			color: $text-color;
		}

		.carousel-price {
			font-size: 0.9rem;
			color: $text-color;
			font-weight: 500;
			margin-left: 0.5rem;
		}

		.carousel-btn {
			background: $primary-color;
			color: white;
			border-radius: $border-radius-rounded;
			padding: 0.5rem 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 500;
			cursor: pointer;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
			border: none;
			width: 100%;
			text-transform: uppercase;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	@media screen and (min-width: 768px) {
		.products-carousel {
			gap: 15px;

			&::-webkit-scrollbar {
				display: block;
				height: 15px;
			}
			&::-webkit-scrollbar-track {
				margin-inline: 1rem;
				background: rgba($primary-color, 0.1);
				border-radius: 4px;
			}
			&::-webkit-scrollbar-thumb {
				background: $primary-color;
				border-radius: 4px;
			}
		}
	}
}

// Team
.team {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.team-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	gap: 25px;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	.team-member {
		width: 150px;
		cursor: pointer;

		&:hover {
			transform: scale(1.03);

			.team-picture {
				box-shadow: 0 4px 20px rgba($primary-color, 0.3);
			}
		}

		&:active {
			scale: 0.9;
		}

		@media screen and (min-width: 768px) {
			width: 200px;
		}

		.team-picture {
			width: 100%;
			aspect-ratio: 1;
			object-fit: cover;
			border-radius: 100vh;
		}
	}
}

.why-us-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 30px;
	padding: 1rem;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.reason {
	text-align: left;
	color: $text-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.reason-icon {
		width: 50px;
	}

	h3 {
		font-size: 1.4rem;
		color: $text-color;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	p {
		font-size: 0.95rem;
		color: $text-color;
		line-height: 1.6;
	}

	@media screen and (min-width: 768px) {
		max-width: 320px;
	}
}

// Location & Hours
.location-hours {
	width: 100%;
	.location-hours-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 25px;
		justify-items: center;

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		.location-card,
		.hours-card {
			width: 100%;
			box-sizing: border-box;
			color: $text-color;
			box-shadow: none;
			border: none;

			.card-content {
				text-align: left;
				padding: 1.5rem;
				div {
					display: flex;
					margin-bottom: 0.5rem;
					line-height: 1.6;
				}
				h3 {
					font-size: 1.5rem;
					text-transform: uppercase;
					margin-bottom: 1rem;
				}
				img {
					width: 25px;
					margin-right: 1rem;
				}
				p,
				a {
					font-size: 1rem;
					color: $text-color;
				}

				.ghost-btn {
					margin-top: 1rem;
					width: 100%;
					max-width: 300px;
					border: solid 2px $primary-color;
					color: $primary-color;
					&:hover {
						background: $primary-color;
						color: $secondary-color;
					}
				}
			}
		}

		.hours-card {
			.hours-list {
				list-style: none;

				li {
					display: flex;
					justify-content: space-between;
					padding: 0.5rem 0;
					border-bottom: 1px solid rgba($primary-color, 0.1);
					font-weight: 600;
				}
			}
		}
	}
}

// Footer
.footer {
	background: $primary-color;
	color: whitesmoke;
	padding: 20px;
	text-align: center;
	padding-block: 20vh;
	width: 100%;
	box-sizing: border-box;

	.social-media {
		margin-top: 10px;
		a {
			margin: 0 10px;

			.social-link {
				width: 35px;
			}
		}
	}
}
